.whatsapp-Landgin {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1;
    color: #25D366;
    transition: 300ms all ease;
}

.whatsapp-Landgin:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(10deg);
}

.img-Whatsapp {
    height: 50px;
    width: 50px;
}